<div class="contents row">
  <div class="container">
    <h1>新規登録</h1>
    <h2>あなたのお店にchu-monを導入しよう！</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object, class:'error_messages' %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">お店の名前</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :shop_name, class:"input-default", placeholder:"例) ○○屋", maxlength:"40" %>
     </div>

     <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">代表者氏名</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :owner_name, class:"input-default", placeholder:"例) 日本　花子", maxlength:"20" %>
     </div>

     <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">代表者電話番号（ハイフンなし）</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :owner_phone_number, class:"input-default", placeholder:"例) 0120123123", maxlength:"11" %>
     </div>

     <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">店舗住所</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :shop_address, class:"input-default", placeholder:"例) 東京都千代田区永田町1-7-1　○○ビル", maxlength:"50" %>
     </div>

     <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">店舗市区町村</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :shop_city, class:"input-default", placeholder:"例) 千代田区", maxlength:"10" %>
     </div>

     <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">代表者メールアドレス</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :email, class:"input-default", placeholder:"例) chu-mon@gmail.com", maxlength:"50" %>
     </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>